@import '../../sources/GeneralConfigs/config.scss';
$borderColor: $defaultFontColor;
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $mainFont;
    margin-top: 50px;
    max-width: $maxSize;
    min-width: $minSize;
    margin: auto;
    height: 20%;
    .all {
        align-items: center;
        // Ajustar com display: flex;

        .body {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            padding-right: 50px;
            input {
                margin: 5px;
                border: 0;
                border-bottom: 2px solid $borderColor;
                outline: 0;
                &::placeholder {
                    color: $defaultFontColor;
                }
            }
            .button{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                background-color: $buttonColor;
                color: $buttonFontColor;
                text-align: center;
                font-family: $secondaryFont;
                transform: scale(0.95);
                transition: all ease 0.2s;
                margin-top: 10px;
                width: 25vw;
                height: 7vh;
            }
        }
        .description {
            padding-left: 50px;
            font-family: $secondaryFont;
        }
        .playerImage {
            height: 540px;
            width: 432px;
            box-shadow: 9px 7px 20px 8px $playerShadow;
            margin: 20px 0;
        }
    }
}

// .buttonDark{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 10px;
//     background-color: #f3f4f6;
//     color: #27272a;
//     text-align: center;
//     font-family: 'Roboto', sans-serif;
//     transform: scale(0.95);
//     transition: all ease 0.2s;
// }
// .buttonDark {
//     margin-top: 10px;
//     width: 30vw;
//     height: 7vh;
// }
// .button-selector {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     /* width: 100vw; */
//     margin: 20px;
// }

// .button-light {
//     background-color: transparent;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 10px;
//     border: 1px solid #27272a;
//     padding: 7px;
//     transform: scale(0.9);
//     transition: all ease 0.2s;
//     font-family: 'Roboto', sans-serif;

// }
// .button-dark {
//     background-color: transparent;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 10px;
//     border: 1px solid #f3f4f6;
//     padding: 7px;
//     transform: scale(0.9);
//     transition: all ease 0.2s;
//     font-family: 'Roboto', sans-serif;
//     color: #f3f4f6;

// }
// .button:hover, 
// .button-light:hover {
//     transform: scale(1);
//     box-shadow: 10px 5px 5px #27272ad3;
// }
// .buttonDark:hover,
// .button-dark:hover {
//     transform: scale(1);
//     box-shadow: 10px 5px 5px #9d9fa1;
// }
// @media (min-width: 500px) {
//     .button-selector {
//         display: flex;
//         flex-direction: column;
//     }
// }